.result{
    display:grid;
    place-items: center;
    height: 100vh;
    /* display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; */
}

.result_box{
    text-align: center;
    padding: 10%;
    background-color:#64e10e;
    border-radius: 10px;
    box-shadow: 0 5px 6px black;
    padding-top: 50px;
    padding-bottom: 50px;
    /* margin:20px; */
}
